.application {
   @include adaptiv-value("padding-top", 85, 60, 1);
   @include adaptiv-value("padding-bottom", 200, 55, 1);
   background-color: #000;
   &__inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      &::before {
         content: "";
         background-image: url("../images/content/employee.png");
         background-repeat: no-repeat;
         width: 394px;
         height: 349px;
         position: absolute;
         top: 65%;
         left: -2%;
      }
   }
   &__title {
      @extend%roboto-700;
      @include adaptiv-value("font-size", 30, 19, 1);
      line-height: 35/30 * 100%;
      text-transform: uppercase;
      color: #fefefe;
      @include adaptiv-value("margin-bottom", 18, 10, 1);
   }
   &__text {
      @extend%roboto-500;
      font-size: 20px;
      line-height: 25px;
      color: #fefefd;
   }
   &__text-color {
      @extend%roboto-500;
      @include adaptiv-value("font-size", 22, 20, 1);
      line-height: 27/22 * 100%;
      text-transform: uppercase;
      color: #edd28a;
   }
   &__inner-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 400px;
      height: 246px;
      padding: 10px;
      background-color: rgba(#fefdfb, 0.05);
      @include adaptiv-value("margin-top", 84, 50, 1);
   }
   &__gira {
      position: absolute;
      top: 55%;
      right: 0;
      z-index: 5;
   }
   .gira {
      &::before,
      &::after {
         height: 120px;
         top: -10%;
      }
      &::before {
         left: -25%;
      }
      &::after {
         right: -25%;
      }
   }
}

@media (max-width: 1200px) {
   .application {
      &__inner {
         &::before {
            display: none;
         }
      }
   }
}

@media (max-width: 992px) {
   .application {
      &__gira {
         display: none;
      }
   }
}

@media (max-width: 768px) {
   .application {
      &__inner-form {
         width: 100%;
      }
      .form {
         width: 100%;
      }
   }
}
