.application {
   padding: 85px 0 200px;
   background-color: #000;
   &__inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      &::before {
         content: "";
         background-image: url("../images/content/employee.png");
         background-repeat: no-repeat;
         width: 394px;
         height: 349px;
         position: absolute;
         top: 65%;
         left: -2%;
      }
   }
   &__title {
      @extend%roboto-700;
      font-size: 30px;
      line-height: 35px;
      text-transform: uppercase;
      color: #fefefe;
      margin-bottom: 18px;
   }
   &__text {
      @extend%roboto-500;
      font-size: 20px;
      line-height: 25px;
      color: #fefefd;
   }
   &__text-color {
      @extend%roboto-500;
      font-size: 22px;
      line-height: 27px;
      text-transform: uppercase;
      color: #edd28a;
   }
   &__inner-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 400px;
      height: 246px;
      padding: 10px;
      background-color: rgba(#fefdfb, 0.05);
      margin-top: 84px;
   }
   &__gira {
      position: absolute;
      top: 55%;
      right: 0;
      z-index: 5;
   }
   .gira {
      &::before,
      &::after {
         height: 120px;
         top: -10%;
      }
      &::before {
         left: -25%;
      }
      &::after {
         right: -25%;
      }
   }
}

@media (max-width: 1200px) {
   .application {
      &__inner {
         &::before {
            display: none;
         }
      }
   }
}

@media (max-width: 992px) {
   .application {
      padding: 85px 0 85px;
      &__gira {
         display: none;
      }
   }
}

@media (max-width: 768px) {
   .application {
      &__gira {
         display: none;
      }
      &__inner-form {
         margin-top: 65px;
      }
   }
}

@media (max-width: 576px) {
   .application {
      padding: 80px 0 60px;
      &__title {
         font-size: 22px;
         line-height: 27px;
         margin-bottom: 10px;
      }
      &__text-color {
         font-size: 20px;
         line-height: 25px;
      }
      &__inner-form {
         width: 100%;
         margin-top: 45px;
      }
   }
}

@media (max-width: 360px) {
   .application {
      padding: 50px 0 20px;
      &__inner {
         align-items: flex-start;
      }
   }
}
