.services {
   @include adaptiv-value("padding-top", 120, 55, 1);
   @include adaptiv-value("padding-bottom", 120, 60, 1);
   background-color: #0d0d0d;
   &__heading {
      @include adaptiv-value("margin-bottom", 75, 35, 1);
   }
   &__wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
      gap: 18px;
      position: relative;
   }
   &__gira {
      position: absolute;
      top: 44%;
      left: -15%;
      z-index: 5;
   }
   &__item {
      position: relative;
      @media (any-hover: hover) {
         &:hover {
            .services__box-content {
               opacity: 1;
            }
         }
      }
      @media (any-hover: none) {
         .services__box-content {
            opacity: 1;
         }
      }
   }
   &__images {
      overflow: hidden;
      @include adaptiv-value("min-width", 331, 220, 1);
      @include adaptiv-value("height", 331, 220, 1);
   }
   &__box-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(#4c4a4a, 0.8);
      border: 12px solid #edd28a;
      opacity: 0;
      transition: opacity 0.4s;
   }
   &__name {
      display: block;
      @extend%roboto-700;
      @include adaptiv-value("font-size", 25, 21, 1);
      line-height: 30/25 * 100%;
      text-transform: uppercase;
      color: #edd28a;
   }
   &__price {
      display: block;
      @extend%roboto-300;
      @include adaptiv-value("font-size", 20, 18, 1);
      line-height: 22/20 * 100%;
      color: #fefefe;
   }
}

@media (max-width: 1330px) {
   .services {
      &__gira {
         display: none;
      }
   }
}

@media (max-width: 360px) {
   .services {
      &__box-content {
         border: 6px solid #edd28a;
      }
   }
}
