.services {
   padding: 120px 0 120px;
   background-color: #0d0d0d;
   &__heading {
      margin-bottom: 75px;
   }
   &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      grid-gap: 18px;
      position: relative;
   }
   &__gira {
      position: absolute;
      top: 44%;
      left: -9%;
      z-index: 5;
   }
   &__item {
      width: 331px;
      height: 331px;
      position: relative;
      &:hover {
         .services__box-content {
            opacity: 1;
         }
      }
   }
   &__img {
      width: 331px;
      height: 331px;
      object-fit: cover;
      object-position: center;
   }
   &__box-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(#4c4a4a, 0.8);
      border: 12px solid #edd28a;
      opacity: 0;
      transition: opacity 0.4s;
   }
   &__name {
      display: block;
      @extend%roboto-700;
      font-size: 25px;
      line-height: 30px;
      text-transform: uppercase;
      color: #edd28a;
   }
   &__price {
      display: block;
      @extend%roboto-300;
      font-size: 20px;
      line-height: 22px;
      color: #fefefe;
   }
}

@media (max-width: 1180px) {
   .services {
      &__gira {
         display: none;
      }
   }
}

@media (max-width: 768px) {
   .services {
      padding: 80px 0 80px;
      &__item {
         width: 231px;
         height: 231px;
      }
      &__img {
         width: 231px;
         height: 231px;
      }
   }
}

@media (max-width: 450px) {
   .services {
      padding: 55px 0 65px;
      &__heading {
         margin-bottom: 50px;
      }
   }
}

@media (max-width: 360px) {
   .services {
      &__item {
         width: 131px;
         height: 131px;
      }
      &__img {
         width: 131px;
         height: 131px;
      }
      &__box-content {
         border: 6px solid #edd28a;
      }
      &__name {
         font-size: 18px;
         line-height: 23px;
      }
      &__price {
         font-size: 14px;
         line-height: 16px;
      }
   }
}
