.heading {
   &__title {
      text-align: center;
      @extend%roboto-700;
      font-size: 80px;
      line-height: 85px;
      text-transform: uppercase;
      letter-spacing: 0.16em;
      color: #fefefd;
      opacity: 0.09;
      margin-bottom: 5px;
   }
   &__subtitle {
      text-align: center;
      @extend%roboto-700;
      font-size: 33px;
      line-height: 44px;
      text-transform: uppercase;
      color: #fefefd;
      padding-bottom: 17px;
      position: relative;
      &::after {
         content: "";
         width: 72px;
         height: 2px;
         background-color: #edd28a;
         position: absolute;
         bottom: 0;
         left: 50%;
         transform: translateX(-50%);
         bottom: 0;
      }
   }
}

@media (max-width: 992px) {
   .heading {
      &__title {
         font-size: 75px;
         line-height: 75px;
      }
   }
}

@media (max-width: 768px) {
   .heading {
      &__title {
         font-size: 60px;
         line-height: 60px;
         letter-spacing: 0.12em;
      }
      &__subtitle {
         font-size: 30px;
         line-height: 41px;
      }
   }
}

@media (max-width: 576px) {
   .heading {
      &__title {
         display: none;
      }
   }
}

@media (max-width: 360px) {
   .heading {
      &__subtitle {
         font-size: 25px;
         line-height: 30px;
      }
   }
}
