.scroller {
   position: fixed;
   bottom: 30px;
   left: 20px;
   cursor: pointer;
   z-index: 1000;
   display: none;
   &__arrow-scroll {
      display: block;
      width: 55px;
      height: 55px;
      fill: #edd28a;
      stroke: #000;
      transition: color 0.4s;
      &:focus {
         color: #8b7f56;
      }
      &:hover {
         color: #0d0d0d;
      }
      &:active {
         color: #919190;
      }
   }
}

@media (max-width: 768px) {
   .scroller {
      &__arrow-scroll {
         width: 40px;
         height: 40px;
      }
   }
}
